/* errorPage */
.errorPage {text-align:center; background:#333336;}
.errorBox {position:absolute; width:500px;  left:50%; top:50%; margin-left:-250px;}
.errorBox .imgArea {height:250px; width:470px; margin:10px auto 10px; background:url('../img/error_img.png') no-repeat center center;}
.errorBox .textArea {margin:20px auto; font-size:22px; color:#eee;}
.errorBox .textArea .detailText {margin:20px 50px; font-size:14px;}
.errorBox .copyright {font-size:11px; margin:30px 0 60px; color:#999;}