<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.qnaMapper">
	
	<resultMap id="RM_selectQna" type="QnA">
		<result column="일련번호" property="seq" javaType="string"/>
		<result column="연락처" property="phone" javaType="string"/>
		<result column="요청일자" property="reqTime" javaType="string"/>
		<result column="처리일자" property="processTime" javaType="string" />
		<result column="처리자_계정" property="processor" javaType="string" />
		<result column="처리자명" property="processorName" javaType="string" />
		<result column="문의사항" property="question" javaType="string" />
		<result column="처리여부" property="processYN" javaType="string" />
		<result column="처리내용" property="processContent" javaType="string" />
		
	</resultMap>
	
	<select id="selectQnaList" parameterType="string" resultMap="RM_selectQna">
		select 일련번호, tb1.연락처, 요청일자, 처리일자, 처리자_계정, 문의사항, 처리여부, 처리내용, tb2.이름 as 처리자명
		  from [웹].[dbo].[문의사항] tb1
		  left outer join [웹].[dbo].[계정] tb2 on tb1.처리자_계정 = tb2.아이디
	     where DATEDIFF(MM, #{date}, [요청일자]) = 0
	     order by 요청일자 desc
	</select>
	
	<update id="updateProcess" parameterType="map">
		<selectKey keyProperty="processTime" resultType="string" order="AFTER">
			select 처리일자 from [웹].[dbo].[문의사항] where 일련번호 = #{seq}
		</selectKey>
		update [웹].[dbo].[문의사항]
		   set 처리내용 = #{processContent},
		   	      처리일자 = getDate(),
		   	      처리자_계정 = #{accountId},
		   	      처리여부 = 'Y'
		 where 일련번호 = #{seq}
	</update> 
</mapper>
